doctype html
html
  head
    title Data Vis Experiments
    script(src='/javascripts/d3.js')
    script(src='/javascripts/myvisscript.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content