body {
  padding: 50px;
  font: 0.7em "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
	text-align: center;
}

div.bar{
	background-color: DarkRed;
	color: white;
	height: 3em;
	line-height: 3em;
	padding-right: 1em;
	margin-bottom: 2px;
	margin-left: 250px;
	text-align: right;
}

div.label{
	height : 3em;
	line-height: 3em;
	padding-right: 1em;
	margin-bottom: 2px;
	float: left;
	width: 20em;
	text-align: right; 	
}

